*{
    margin:0;
    padding:0;
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    margin:10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar-links{
    display:flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color:#1D232C;
}

.navbar-links a:hover{
    text-decoration: underline;
    color:#1D232C;
}

.navbar-menu-toggle{
    display:none;
}

.navbar-menu-toggle:hover{
    cursor: pointer;
}

.side-navbar{
    background-color:#1D232C;
    width:50%;
    height:100%;
    position: fixed;
    top:0;
    left:-60%;
    padding:20px;
    color:white;
    transition: 1s;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    border-right: white solid 1px;
}

.crossIcon{
    text-align: right;
}

.crossIcon:hover{
    cursor: pointer;
    color: gray;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color:white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

.header{
    display:flex;
    justify-content: center;
    gap:50px;
    padding:50px;
}

.header-button{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

.service{
    padding:20px;
}

.service-container-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding:10px;
}

.new-arrival{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    position:relative;
}

.new-arival-container{
    position:relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top:60%;
    left:12%; 
    border-radius: 10px;
    border: none;
}

.news{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding:11px;
    width:80vw;
    margin-bottom: 10px;
    border:solid 3px;
}

.news button{
    margin-top:10px;
    color:#F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding:10px;
}

.footer{
    margin-top:20px;
    padding:40px;
    background-color: #1D232C;
    color: #F2F4F7;
}

.product-section{
    margin-top:20px;
}

.product-search{
    width:80%;
    border:solid black 2px;
    border-radius: 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    margin:auto;
}

.product-search input{
    border:none;
    background-color:transparent;
    width:100%;
}

.product-search input:focus{
    outline: none;
}

.products{
    padding:20px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    justify-content: space-around;
}

.product-box{
    text-align:center;
    flex-basis: 20%;
}

.product-box img{
    border-radius: 10px;
}

.register{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contact-register{
    background-color: #1D232C;
    color: #F2F4F7;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 40px;
}

.contact-register input{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.contact-register textarea{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.contact-register input::placeholder{
    font-size: medium;
}

.contact-register textarea::placeholder{
    font-size: 17px;
    padding-top: 27px;
}

.contact-register button{
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .navbar-menu-toggle{
        display: block;
    }

    .navbar-links{
        display: none;
    }

    .header img{
        display:none;
    }  

    .service-container-1{
        display:none;
    }

    .service-container-2{
        flex-direction: column;
    }

    .new-arival-container{
        position:relative;
        flex-basis: 40%;
    }

    .contact-register{
    background-color: #1D232C;
    color: #F2F4F7;
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: 40px;
    }

    .news p{
        padding:20px;
    }
}